* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

body {
  background-color: #cfcfea;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  color: #2a2c24;

  font-size: 25px;
}
a:hover {
  color: #330036;
  font-weight: 600;
}

header {
  position: sticky;
  top: 10px;

  margin: 20px;

  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: block;
  overflow-x: auto;
  text-align: right;
  list-style-type: none;
}

footer {
  margin-right: 50px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: end;
}
