* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

body {
  background-color: #cfcfea;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  color: #2a2c24;

  font-size: 25px;
}
a:hover {
  color: #e2eb98;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}

header {
  position: sticky;
  top: 10px;

  margin: 20px;

  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: block;
  overflow-x: auto;
  text-align: right;
  list-style-type: none;
}

footer {
  margin-right: 50px;
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: end;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 60px;
  color: #330036;
  vertical-align: middle;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

h2 {
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  color: #2a2c24;

  font-size: 25px;
  margin-bottom: 10px;
}

h2:hover {
  color: #e2eb98;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}

h3 {
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  color: #2a2c24;

  font-size: 25px;
  margin-bottom: 10px;
}

.logo {
  border: #3f3244;
  padding: 5px;
  border-radius: 50%;
  border-style: dashed;
  background-color: #e6efe900;
  color: #3f3244;
  padding-top: 15px;
}

.logotxt {
  color: #55251d;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.logo:hover {
  border: solid;
}

.grid_1-1_x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

figure {
  margin-top: 50px;
  margin-bottom: 120px;
}

.visit_site {
  display: grid;
  justify-items: center;
  align-items: center;
}
.visit_site img,
.link,
button {
  grid-area: 1/1;
}

.to_site_button {
  background: #cfcfea;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #2a2c24;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  z-index: 10;
}

.to_site_button:hover {
  color: #e2eb98;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}
