.forside_h1 {
  transform: rotate(-90deg);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 90px;
  color: #e2eb98;
}

.forside_img {
  width: 50%;
}

@media (max-width: 699px) {
  .forside_h1 {
    font-size: 40px;
  }
}

.container {
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

.forside_img,
#h1_container {
  grid-area: 1 / 1;
}

#h1_fadein {
  animation-name: fade_in_kf;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fade_in_kf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
