.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.forside_h1 {
  transform: rotate(-90deg);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 90px;
  color: #330036;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.forside_img {
  padding: 40px;
  border: solid 2rem rgb(224, 226, 163);
}
