* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/********* ramme til kategori **********/

.kategori {
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 50%;
  border-color: #cfcfea;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 190px;
  background-color: #cfcfea;
  margin-left: auto;
  margin-right: auto;
}

/*********** tekst til kategori *********/

.kategoritxt {
  margin-top: 10px;
  color: #2a2c24;
  font-size: 1.5rem;
  text-decoration: none;

  text-align: center;
}

/************ kategori billeder **********/

.kategori1 {
  background-color: #2f1a53;
  background-size: auto;
}
.kategori2 {
  background-color: #3cae88;
  background-size: auto;
}
.kategori3 {
  background-color: #a4d8f5;
  background-size: auto;
}
.kategori4 {
  background-color: #e7923d;
  background-size: auto;
}
.kategori5 {
  background-color: #511510;
  background-size: auto;
}

.kategori6 {
  background-color: #c66ba3;
  background-size: auto;
}

/********** kategori effekter ********/

.kategoritxt:hover {
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.kategori:hover {
  border-color: #e2eb98;
  background-color: #e2eb98;
  animation: zoom_in 1.5s forwards;
}

@keyframes zoom_in {
  to {
    transform: scale(1.1, 1.1);
  }
}

@media (min-width: 700px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px;
  }
}

/************ mobile tilpasninger *********/

@media (max-width: 699px) {
  .kategori {
    margin-bottom: 80px;
  }
}
