* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.h1_portfolio {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 60px;
  color: #330036;
  vertical-align: middle;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.kategori {
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 50%;
  border-color: #2a2c24;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 190px;
  background-color: #e6e6e6;
  margin-left: auto;
  margin-right: auto;
}

.kategoritxt {
  margin-top: 10px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;

  text-align: center;
}

.kategori1 {
  background-image: url("imgs/02_ny.webp");
  background-size: auto;
}
.kategori2 {
  background-image: url("imgs/03_ny.webp");
  background-size: auto;
}
.kategori3 {
  background-image: url("imgs/04_ny.webp");
  background-size: auto;
}
.kategori4 {
  background-image: url("imgs/05.webp");
  background-size: auto;
}
.kategori5 {
  background-image: url("imgs/06.webp");
  background-size: auto;
}

.kategoritxt:hover {
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: 2A2C24;
}

.kategori:hover {
  border-color: #2a2c24;
  background-color: #2a2c24;
  animation: float 1.2s ease-in-out infinite;
}

@media (min-width: 700px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(2px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 699px) {
  .kategori {
    margin-bottom: 80px;
  }
}
